.error-message {
    color: red !important;
    font-size: 12px;
}


.border-student {
    border-right: 1px solid #b0b1c4;
}


@media (max-width: 1023px){
    .border-student{
        border-right: 0;
    }
}
